@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

body 
{
    background-color: #6e00ff;
    margin: 0;
}


/************************************************************************/
/*********************        Topnav        *****************************/
/************************************************************************/

.topnav {
    box-shadow: 4px 4px 70px #bfafb2;
    height: 75px; width: 100%;
    background-color: #ffffff;
    color: rgb(110, 110, 110);
}

.nav{
    list-style:none;
    margin:0;
    padding: 22px 0px;
    font-weight: normal;
    font-size: 20px;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

/*****************************************************************************/
/*********************        Profile Pic        *****************************/
/*****************************************************************************/

.profile_pic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}


/*****************************************************************************/
/*********************           Words            ****************************/
/*****************************************************************************/

.about {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: lighter;
    font-size: large;
    font-family: 'Mukta', sans-serif;
}

.divider {
    border-left: 3px solid black;
    height: auto;
}